{% extends './base.html' %}

{% load crispy_forms_tags %}

{% block title-meta %}
    افزودن مقاله
{% endblock %}

{% block main %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="col-md-12">
            <div class="card card-secondary">
                <div class="card-header">
                <h3 class="card-title mb-0 float-left">افزودن مقاله</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            {{ form.title|as_crispy_field }}
                        </div>
                        <div class="col-6">
                            {{ form.slug|as_crispy_field }}
                        </div>
                        <div class="col-12">
                            {{ form.description|as_crispy_field }}
                        </div>
                        <div class="col-6">
                            {{ form.category|as_crispy_field }}
                        </div>
                        <div class="col-6">
                            {{ form.publish|as_crispy_field }}
                            {{ form.thumbnail|as_crispy_field }}
                        </div>
                        {% if user.is_superuser %}
                        <div class="col-6">
                            {{ form.status|as_crispy_field }}
                        </div>
                        <div class="col-6">
                            {{ form.author|as_crispy_field }}
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <button class="btn btn-success">ارسال مقاله</button>
        {% if request.resolver_match.kwargs.pk and user.is_superuser %}
        <a href="{% url 'account:article-delete' request.resolver_match.kwargs.pk %}" class="btn btn-danger">حذف مقاله</a>
        {% endif %}
    </form>
{% endblock %}