{% extends './base.html' %}

{% block title %}{% block title-meta %}
    لیست مقالات
{% endblock %}{% endblock %}

{% block main %}
<div class="row">
  <div class="col-12">
    {% if object_list %}
      <div class="card">
        <div class="card-body table-responsive p-0">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>عنوان مقاله</th>
                <th>تصویر بندانگشتی</th>
                <th>دسته بندی</th>
                <th>نویسنده</th>
                <th>خلاصه</th>
                <th>زمان انتشار</th>
                <th>وضعیت</th>
              </tr>
            </thead>
            <tbody>
              {% for article in object_list %}
              <tr>
                <td>
                  {% if article.status == 'd' or user.is_superuser %}
                    <a href="{% url 'account:article-update' article.pk %}">{{ article.title }}</a>
                  {% else %}
                    {{ article.title }}
                  {% endif %}
                </td>
                <td><img src="{{ article.thumbnail.url }}" width="120"></td>
                <td>{{ article.category_to_str }}</td>
                <td>{{ user.get_full_name }}</td>
                <td>{{ article.description | striptags| truncatewords:20 }}</td>
                <td>{{ article.jpublish }}</td>
                <td>
                {% if article.status == "p" %}
                  <span class="badge badge-success">منتشر شده</span>
                  <a href="{% url 'blog:detail' article.slug %}" target="_blank" class="badge badge-primary">نمایش مقاله</a>
                {% else %}
                  <span class="badge badge-danger">پیش نویس</span>
                {% endif %}
                
                {% if user.is_superuser %}
                  <a href="{% url 'account:article-delete' article.pk %}" class="badge text-danger">حذف</a>
                {% endif %}
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    {% else %}
    <h3 class="text-danger">محتوایی برای نمایش وجود ندارد.</h3>
    {% endif %}
  </div>
</div>
{% endblock %}