{% load static %}
{% load widget_tweaks %}

<!doctype html>
<html lang="en">
  <head>
      <title>ورود</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <link rel="stylesheet" href="{% static 'registration/login/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'registration/login/css/my.css' %}">

    </head>
    <body class="img js-fullheight">
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center mb-5">
                    <h2 class="heading-section">ورود به حساب</h2>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-4">
                    <div class="login-wrap p-0">
                        <h3 h3 class="mb-4 text-center">آیا حساب دارید؟ </h3>
                        <form class="signin-form" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                {% render_field form.username class+="form-control" placeholder="نام کاربری" %}
                            </div>
                            {% if form.username.errors %}
                                <div class="alert alert-danger">
                                    {% for error in form.username.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% endif %}
                            <div class="form-group">
                                {% render_field form.password class+="form-control" placeholder="رمزعبور" %}
                                <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                            </div>
                            {% if form.password.errors %}
                                <div class="alert alert-danger">
                                    {% for error in form.password.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% endif %}
                            <div class="form-group">
                                <button type="submit" class="form-control btn btn-primary submit px-3">ورود</button>
                            </div>
                            {% if form.non_field_errors %}
                                <div class="alert alert-danger">
                                    {% for error in form.non_field_errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="{% static 'registration/login/js/jquery.min.js' %}"></script>
      <script src="{% static 'registration/login/js/popper.js' %}"></script>
      <script src="{% static 'registration/login/js/bootstrap.min.js' %}"></script>
      <script src="{% static 'registration/login/js/main.js' %}"></script>

    </body>
</html>

