{% load static %}
{% load widget_tweaks %}

<!doctype html>
<html lang="en">
  <head>
      <title>بازیابی گذرواژه</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <link rel="stylesheet" href="{% static 'registration/login/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'registration/login/css/my.css' %}">

    </head>
    <body class="img js-fullheight">
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center mb-5">
                    <h2 class="heading-section">بازیابی گذرواژه</h2>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-4">
                    {% if validlink %}
                        <div class="login-wrap p-0">
                            <form class="signin-form" method="post">
                                {% csrf_token %}
                                <div class="form-group">
                                    {% render_field form.new_password1 class+="form-control" placeholder="گذرواژه جدید" %}
                                </div>
                                {% if form.new_password1.errors %}
                                    <div class="alert alert-danger">
                                        {% for error in form.new_password1.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                                <div class="form-group">
                                    {% render_field form.new_password2 class+="form-control" placeholder="تایید گذرواژه" %}
                                </div>
                                {% if form.new_password2.errors %}
                                    <div class="alert alert-danger">
                                        {% for error in form.new_password2.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                                <div class="form-group">
                                    <button type="submit" class="form-control btn btn-primary submit px-3">ارسال</button>
                                </div>
                                {% if form.non_field_errors %}
                                    <div class="alert alert-danger">
                                        {% for error in form.non_field_errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </form>
                        </div>
                    {% else %}
                    <div class="alert alert-danger text-center">
                        <p>این لینک منقصی شده است.</p>
                        <p>برای بازیابی گذرواژه مجددا <a href={% url 'password_reset' %} style="color: black;"> کلیک </a>کنید.</p>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>

    <script src="{% static 'registration/login/js/jquery.min.js' %}"></script>
      <script src="{% static 'registration/login/js/popper.js' %}"></script>
      <script src="{% static 'registration/login/js/bootstrap.min.js' %}"></script>
      <script src="{% static 'registration/login/js/main.js' %}"></script>

    </body>
</html>