{% extends './base.html' %}

{% load crispy_forms_tags %}

{% block title-meta %}
    تغییر گذرواژه
{% endblock %}

{% block main %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="col-md-12">
            <div class="card card-secondary">
                <div class="card-header">
                <h3 class="card-title mb-0 float-left">تغییر گذرواژه</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            {{ form.old_password|as_crispy_field }}
                        </div>
                        <div class="col-6"></div>
                        <div class="col-6">
                            {{ form.new_password1|as_crispy_field }}
                        </div>
                        <div class="col-6">
                            {{ form.new_password2|as_crispy_field }}
                        </div>
                    </div>
                    <button class="btn btn-success">ارسال مقاله</button>
                </div>
            </div>
        </div>
    </form>
{% endblock %}