{% extends './base.html' %}

{% load crispy_forms_tags %}

{% block title-meta %}
    تغییر گذرواژه
{% endblock %}

{% block main %}
<div class="col-md-8 text-center mx-auto">
    <div class="card card-success">
        <div class="card-header">
        <h3 class="card-title mb-0 float-left">تغییر گذرواژه</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body py-4">
            <p class="py-2">گذرواژه با موفقیت تغییر یافت.</p>
        </div>
    </div>
</div>
{% endblock %}