{% extends './list.html' %}

{% block title %}
  {{ category.title }}
{% endblock %}

{% block header %}
  <h3 class="alert alert-primary text-center">دسته بندی : {{ category.title }}</h3>
{% endblock %}

{% block previous_page_url %}
  {% url 'blog:category' category.slug %}?page={{ page_obj.previous_page_number }}
{% endblock %}

{% block current_page_url %}
  {% url 'blog:category' category.slug %}?page={{i}}
{% endblock %}

{% block other_page_url %}
  {% url 'blog:category' category.slug %}?page={{i}}
{% endblock %}

{% block next_page_url %}
  {% url 'blog:category' category.slug %}?page={{ page_obj.next_page_number }}
{% endblock %}